name: ci

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      NV_LOGIN_JSON: '{"password":{"username":"admin","password":"admin"}}'
      NV_SCANNING_JSON: '{"request":{"registry":"","username":"","password":"","repository":"bashofmann/neuvector-github-action-example","tag":"latest"}}'
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: false
          tags: bashofmann/neuvector-github-action-example:latest
      - name: Scan Image
        run: |
          hostname=$(hostname -s)
          docker run -itd --privileged --name neuvector.controller -e CLUSTER_JOIN_ADDR=$hostname -p 18301:18301 -p 18301:18301/udp -p 18300:18300 -p 18400:18400  -p 10443:10443 -v /var/neuvector:/var/neuvector -v /var/run/docker.sock:/var/run/docker.sock -v /proc:/host/proc:ro -v /sys/fs/cgroup/:/host/cgroup/:ro neuvector/controller
          _COUNTER_="0"
          while [ -z "$TOKEN" -a "$_COUNTER_" != "12" ]; do
            _COUNTER_=$((( _COUNTER_ + 1 )))
            sleep 5
            TOKEN=`(curl -s -f https://$hostname:10443/v1/auth -k -H "Content-Type:application/json" -d $NV_LOGIN_JSON || echo null) | jq -r '.token.token'`
            if [ "$TOKEN" = "null" ]; then
              TOKEN=""
            fi
          done
          sleep 20
          curl https://$hostname:10443/v1/scan/repository -s -k -H "Content-Type:application/json" -H "X-Auth-Token:$TOKEN" -d $NV_SCANNING_JSON | jq .
          docker logs neuvector.controller
          curl https://$hostname:10443/v1/auth -k -X 'DELETE' -H "Content-Type:application/json" -H "X-Auth-Token:$TOKEN"
          docker stop neuvector.controller
          docker rm neuvector.controller