name: ci

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build Image
        run: |
          docker build . --tag bashofmann/neuvector-github-action-example:latest
      - name: Scan Image
        uses: bashofmann/neuvector-image-scan-action@main
        with:
          image-repository: bashofmann
          image-tag: latest
          min-high-cves-to-fail: '1'
          min-medium-cves-to-fail: '1'